@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.background-img {
  background-image: url("/src/images/banner-landingpage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 700px;
}

.main-cta {
  position: absolute;
  background-color: #9dc20a;
  height: 340px;
  width: 600px;
  top: 170px;
  left: 10%;
  bottom: 170px;
  border: 1px solid #979797;
  border-radius: 4px;
}

.cta {
  color: #ffffff;
  text-align: center;
  padding-top: 32px;
}

.cta-instant {
  font-family: "Damion";
  font-style: italic;
  font-size: 2.25rem;
  font-weight: normal;
}

.cta-camera {
  font-size: 3.125rem;
  font-family: "Rubik";
  line-height: 1.4;
  font-weight: normal;
}

.cta-release {
  font-size: 20px;
  font-family: "Roboto";
  line-height: 1.4;
  font-weight: normal;
  padding: 12px 90px 26px 90px;
  text-align: center;
}

.cta-button {
  background-color: #4a4a4a;
  width: 408px;
  height: 64px;
  border-radius: 4px;
  border: none;
}

.cta-button p {
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto";
  line-height: 1.4;
}

@media only screen and (max-width: 769px) {
  .cta-button,
  .cta-release {
    display: none;
  }

  .cta {
    padding: 0;
  }

  .main-cta {
    background-color: transparent;
    border: none;
    width: 100%;
    left: 0;
    margin: 0 auto;
  }

  .background-img {
    height: 500px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cta-instant {
    font-size: 2rem;
  }

  .cta-camera {
    font-size: 2rem;
  }

  .background-img {
    height: 350px;
  }
}
