.main-message {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: center;
  text-align: center;
}

.message p {
  color: #4a4a4a;
  font-size: 1.875rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 1.1;
}

.photography {
  padding-left: 30px;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-message {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .message p {
    font-size: 1.125rem;
  }

  .photografy {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main-message {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .message p {
    font-size: 1rem;
  }
}
